# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# Visual Studio Code
.vscode/

# IntelliJ / Android Studio
*.iml
.idea/

# OS Generated
.DS_Store
Thumbs.db

*.apk

android/.kotlin/

